@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
   --cor0: #c5edb6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --cor6: white;

    --fonte-padrão: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursiva;
    --fonte-android: 'Android';
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
   padding-top: 40px;
}

header > h1{
    color: var(--cor6);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.384);
}

header > p{
    color: var(--cor6);
    font-size: 1.2em;
    font-family: var(--fonte-padrão);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    margin: auto;
    text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.384);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.452);
}

nav > a{
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover{
   background-color: var(--cor3);
   color: var(--cor6);
   border-radius: 3px;
   transition-duration: 0.5s;
}

main{
    background-color: var(--cor6);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 230px;
    max-width: 865px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h1{
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family:var(--fonte-android);
    font-size: 1.2em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
}

main p{
  padding: 15px 10px;
  text-indent: 20px;  
  line-height: 2em;
  font-size: 1em;  
  text-align: justify;
}

main strong{
    padding: 0px 0px 0px 2px;
}

main a{
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;    
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: -1px 7px 7px 1px rgba(0, 0, 0, 0.238);
}

aside h3{
    background-color: var(--cor5);
    color: var(--cor6);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}

footer{
    background-color: var(--cor5);
    color: var(--cor6);
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: var(--cor6);
    padding: 2px 2px;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor4);
    padding: 2px 2px;
    border-radius: 5px;
}
